#header{
    color:black;
    text-align:center;
    padding:5px;
}
#nav{
    width:300px;
    float:left;
    padding:5px;
}
#section{
    width:800px;
    float:left;
    padding:10px;
}
#footer{
    color:red;
    clear:both;
    text-align:center;
    padding:5px;
}
body{
    background-color:violet;
}
h1{
    font-size:40px;
    font-family:"Arial Unicode MS", Times, serif;
}
h2{
    font-size:30px;
}
p,
ul{
    font-size:14px;
    font-family:"Times New Roman", Times, serif;
}